
@model IEnumerable<SGUMusicStore.Models.Product>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var Lst = ViewBag.datarelateto as IEnumerable<SGUMusicStore.Models.Product>;
}

    @Styles.Render("~/Content/main")
    @Styles.Render("~/Content/detail")
    @Styles.Render("~/Content/toastr")

    <style>

        .detail-size .size-D {
            width: 40px;
            height: 40px;
            background-color: #6c757d;
            line-height: 40px;
            text-align: center;
            border: 1px solid #6c757d;
            font-size: 12px;
            font-weight: 500;
            color: #050505;
            cursor: not-allowed;
            transition: all 0.2s ease-in-out;
        }
    </style>
    <div class="container">
        @{
            foreach (var item in Model)
            {
                <div class="breadcrumb">
                    <div class="grid">
                        <a href="/">Trang chủ / </a>
                        <span style="font-size:1.3rem"> @item.Type.nameType / </span>
                        <span style="font-size:1.2rem" class="br-main"> @item.nameProduct </span>
                    </div>
                </div>
                break;
            }
        }

        <!-- detail -->
        <div class="detail">

            @{
                foreach (var item in Model)
                {
                    <div class="grid">
                        <div class="row">
                            <div class="col">

                                <div class="slider-detail">
                                    <div class="product-detail">
                                        <img class="img-detail"
                                             src="@item.ImageProducts.First().URLImage"
                                             alt=""
                                             onclick="clickme(this)" />
                                        <img class="img-detail"
                                             src="@item.ImageProducts.Last().URLImage"
                                             alt=""
                                             onclick="clickme(this)" />

                                    </div>
                                    <div class="preview">
                                        <img src="@item.ImageProducts.First().URLImage" id="imagebox" alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col col-cus">
                                <div class="content">
                                    <div style="font-size:1.8rem" class="detail-title">@item.nameProduct</div>
                                    <div style="display:none; font-size:1.8rem" class="idFood">@item.idProduct</div>
                                    <div class="detail-price info-price total-money">@item.price,000₫</div>
                                    <div class="detail-size">

                                        @{

                                            if (@item.sizeS > 0)
                                            {
                                                <div class="size">S</div>
                                            }
                                            else
                                            {
                                                <div class="size-D ">S</div>
                                            }
                                            if (@item.sizeM > 0)
                                            {
                                                <div class="size">M</div>
                                            }
                                            else
                                            {
                                                <div class="size-D ">M</div>
                                            }

                                            if (@item.sizeL > 0)
                                            {
                                                <div class="size">L</div>
                                            }
                                            else
                                            {
                                                <div class="size-D ">L</div>
                                            }
                                        }

                                    </div>

                                    <div class="detail-amount">
                                        <button class="button-amount button-minus">-</button>
                                        <input type="number" class="input-amout" readonly value="1" />
                                        <button class="button-amount button-add">+</button>
                                    </div>

                                    <div class="detail-button-add-cart button-hover" id="add-to-cart">Thêm vào giỏ hàng</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    break;
                }
            }


        </div>
        <!-- detail end -->
        <!-- mô tả sản phẩm -->
        <div class="product-description">
            <h2 class="des-heading">MÔ TẢ SẢN PHẨM</h2>
            <div class="description">
                <h4 class="des-title">◤mô tả</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - Sản phẩm phù hợp cho mọi độ tuổi, một nhạc cụ không thể thiếu cho
                        cho những bạn trẻ muốn thể hiện mình, thỏa sức với đam mê âm nhạc.
                    </li>
                    <li class="list-des-item">HÌNH THẬT GIỐNG MẪU</li>
                    <li class="list-des-item">
                        - Sản phẩm luôn có sẵn, giao hỏa tốc ngay trong nội thành TPHCM.
                    </li>
                    <li class="list-des-item">
                        - CHẤT LIỆU: Chế tác từ các loại gỗ thông, sam, nato
                        cùng với bộ lọc âm chất lượng cao, mang đến trải nghiệm trau truốt đến từng nhịp.
                    </li>
                    <li class="list-des-item">
                        - Màu sắc và hình dáng có thể tùy vào từng nguồn hàng ở nhiều thời điểm khác nhau
                        (Tuy nhiên store cam kết chất lượng vẫn được đảm bảo)
                    </li>
                </ul>
            </div>
            <div class="commitment">
                <h4 class="des-title">◤CAM KẾT CỦA STORE</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - HÌNH THẬT GIỐNG MẪU, TẤT CẢ HÌNH ẢNH ĐỀU DO STORE TỰ CHỤP.
                    </li>
                    <li class="list-des-item">
                        - Sản phẩm được kiểm tra kỹ càng trước khi giao hàng cho khách .
                    </li>
                    <li class="list-des-item">
                        - Hỗ trợ đổi trả nếu hàng nhận không đúng loại, kích thước, không ưng ý sản phẩm
                        muốn đổi sang sản phẩm khác.
                    </li>
                    <li class="list-des-item">
                        - Hỗ trợ đổi mới với các lỗi từ nhà sản xuất và cam kết bảo hành 10 năm.
                    </li>
                    <li class="list-des-item">
                        - Hỗ trợ đổi trong vòng 30 ngày kể từ ngày nhận hàng, sản phẩm mới
                        và còn nguyên hình dáng, không trầy sước và phải đầy đủ phụ kiện.
                    </li>
                </ul>
            </div>
            <div class="choose-size">
                <h4 class="des-title">◤THÔNG SỐ CHỌN KÍCH CỠ ĐÀN GUITAR - VIOLIN - HARMONICA:</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - SIZE S (SMALL): Phù hợp với các bé từ 8 tuổi trở xuống, người có ngón tay nhỏ
                    </li>
                    <li class="list-des-item">
                        - SIZE M (MEDIUM): Phù hợp cho các bạn trẻ dưới 17 tuổi, có bàn tay trung bình
                    </li>
                    <li class="list-des-item">
                        - SIZE L (LARGE): Kích thước tiêu chuẩn phù hợp với người có vóc dáng trưởng thành.
                    </li>
                    <li class="list-des-item">
                        - (Bảng kích thước nhạc cụ trên chỉ mang tính chất tham khảo, vui lòng xem thêm
                        bảng kích thước cho từng sản phẩm hoặc liên hệ với nhân viên để được hỗ trợ)
                    </li>
                </ul>
            </div>
            <div class="usage">
                <h4 class="des-title">◤hướng dẫn bảo quản:</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - Tránh để sản phẩm ở nơi ẩm thấp, nhiệt độ cao
                        (Tránh tiếp xúc với các loại dung dịch tẩy rửa mạnh vì có thể làm hư mặt của nhạc cụ).
                    </li>
                    <li class="list-des-item">
                        - Khi không sử dụng nhạc cụ trong thời gian dài hoặc vẫn chuyển đàn
                        hãy làm lỏng tất cả các dây và bọc chúng cẩn thận
                    </li>
                    <li class="list-des-item">
                        - Khi sản phẩm hỏng hãy liên hệ ngay với chúng tôi để hỗ trợ sửa chữa, 
                        tránh tự sửa chữa có thể làm hỏng nhạc cụ
                    </li>
                    <li class="list-des-item">
                        - Không đặt sản phẩm chung với các vật sắc nhọn, dễ gây trầy sướt, tránh va chạm mạnh.
                    </li>
                    <li class="list-des-item">
                        - Không được lên dây cao quá, có thể dẫn đến cong cần đàn.
                    </li>
                    <li class="list-des-item">
                        - Việc tự ý tháo dỡ, thay thế linh kiện trong quá trình bảo hành sẽ bị từ chối bảo hành.
                    </li>
                </ul>
            </div>
            <div class="ship">
                <h4 class="des-title">◤GIAO HÀNG</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - Freeship cho hoá đơn mua hàng trị giá trên 500.000 vnd
                    </li>
                    <li class="list-des-item">
                        - Khách hàng đặt hàng , nhận hàng rồi mới thanh toán
                    </li>
                    <li class="list-des-item">
                        - Khách được kiểm tra hàng trước để đảm bảo giao đúng mẫu trước
                        khi thanh toán cho shipper
                    </li>
                    <li class="list-des-item">
                        - Thời gian giao hàng: dao động từ 3 - 4 ngày kể từ khi xác nhận
                        đơn (không tính thứ 7 và CN)
                    </li>
                    <li class="list-des-item">
                        - Không freeship đối với các sản phẩm SALE.
                    </li>
                </ul>
            </div>
            <div class="note">
                <h4 class="des-title">lưu ý:</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - STORE SẼ GỌI ĐỂ XÁC NHẬN ĐƠN, CÁC BẠN ĐỂ Ý GIÙM CHÚNG MÌNH NHEN!
                    </li>
                </ul>
            </div>
            <div class="address">
                <h4 class="des-title">◤HỆ THỐNG CỬA HÀNG SGU MUSIC STORE:</h4>
                <ul class="list-des">
                    <li class="list-des-item">
                        - Địa chỉ: 273 Đ. An D. Vương, Phường 3, Quận 5, Thành phố Hồ Chí Minh
                    </li>
                    <li class="list-des-item">- Hotline :0123456789</li>
                </ul>
            </div>
        </div>
        <!-- mô tả sản phẩm -->
        <!-- sản phẩm tương tự -->
        <div class="similar-product">
            <div class="products">
                <div class="product-heading">SẢN PHẨM TƯƠNG TỰ</div>
                <div class="grid">
                    <div class="grid__row">

                        @foreach (var item in Lst)
                        {
                        <div class="grid__col-3">
                            <div style="display:none" id="idProduct">@item.idProduct</div>
                            <div class="product">
                                <img src="@item.ImageProducts.First().URLImage" alt="" class="product-img product-show">

                                <img src="@item.ImageProducts.Last().URLImage" alt="" class="product-img product-img-hover">

                            </div>
                            <div class="product-info">
                                <div class="product-title">
                                    @item.nameProduct
                                </div>
                                <div class="product-price">
                                    @item.price,000đ
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- sản phẩm tương tự -->
    </div>

    <script>
        function clickme(smallImg) {
            var fullImg = document.getElementById('imagebox');
            fullImg.src = smallImg.src;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @Scripts.Render("~/bundles/product")
    @Scripts.Render("~/bundles/calculate")
    @Scripts.Render("~/bundles/detail")
